<nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <div class="container">
        <a href="" class="navbar-brand">
            <img src="assets/svgs/logo.svg" alt="" width="150">
        </a>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropDown" aria-controls="navbarDropDown"
            aria-expanded="false" aria-label="Toggle Navigation" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarDropDown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#discover" class="nav-link">Discovery</a>
                </li>
                <li class="nav-item">
                    <a href="#summary" class="nav-link">Summary</a>
                </li>
                <li class="nav-item">
                    <a href="#takeaways" class="nav-link">Takeaways</a>
                </li>
                <li class="nav-item">
                    <a href="#subscribe" class="nav-link">Subscribe</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header id="home" class="header py-7 vh-100">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-12 text-container">
                <h1 class="display-2 text-white mt-3">
                    Explore Our Training and Seminar Videos
                </h1>
                <p class="lead text-white w-75 m-auto mb-5">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam placeat quis corporis ad, eveniet id?
                    Placeat qui, in ducimus eligendi fugit nesciunt sed quae ipsa eos dicta ea error vitae labore,
                    beatae veniam voluptatum excepturi accusamus possimus tenetur, laborum quo?
                </p>
                <a href="" class="btn btn-primary text-uppercase m-2">Register</a>
                <a href="" class="btn btn-outline-light text-uppercase">Discover</a>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <!--Image Slider-->
                <div id="slider" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" class="active" data-bs-slide-to="0" data-bs-target="#slider"
                            aria-current="true" aria-label="Slide 1">
                        </button>
                        <button type="button" data-bs-slide-to="1" data-bs-target="#slider" aria-label="Slide 2">
                        </button>

                        <button type="button" data-bs-slide-to="2" data-bs-target="#slider" aria-label="Slide 3">
                        </button>
                    </div>
                    <div class="carousel-inner rounded-5">
                        <div class="carousel-item active">
                            <img src="assets\images\header-slide-1.jpg" class="d-block w-100 rounded-5">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\images\header-slide-2.jpg" class="d-block w-100 rounded-5">
                        </div>
                        <div class="carousel-item">
                            <img src="assets\images\header-slide-3.jpg" class="d-block w-100 rounded-5">
                        </div>
                    </div>

                    <!--Buttons -->
                    <button type="button" class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#slider">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button type="button" class="carousel-control-next" data-bs-slide="next" data-bs-target="#slider">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>



<!--Register-->
<section class="register bg-primary py-6 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Unlocking Potential with Engaging Content</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic debitis necessitatibus sint facilis, et
                    eveniet fuga perferendis! Quia vitae error dolorem iusto incidunt, aliquam ea vel beatae, esse autem
                    suscipit quisquam optio quaerat sequi blanditiis perferendis, nemo accusamus non modi.</p>

                <ul class="list-unstyled vstack gap-3">
                    <li>
                        <i class="fas fa-square"></i>
                        <strong>Stay Updated:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rem
                        magnam culpa delectus expedita ab totam tempore vitae consequuntur dignissimos?
                    </li>
                    <li>
                        <i class="fas fa-square"></i>
                        <strong>Expand you Netword:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cum rem
                        magnam culpa delectus expedita ab totam tempore vitae consequuntur dignissimos?
                    </li>
                    <li>
                        <i class="fas fa-square"></i>
                        <strong>Stay Updated:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rem
                        magnam culpa delectus expedita ab totam tempore vitae consequuntur dignissimos?
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 p-4">
                <form action="">
                    <div class="my-4">
                        <input type="text" name="" placeholder="Enter Name"
                            class="form-control form-control-lg rounded-0 border-0">
                    </div>

                    <div class="my-4">
                        <input type="email" name="" placeholder="Enter Email"
                            class="form-control form-control-lg rounded-0 border-0">
                    </div>

                    <div class="my-4">
                        <input type="text" name="" placeholder="Enter Phone Number"
                            class="form-control form-control-lg rounded-0 border-0">
                    </div>

                    <div class="form-check">
                        <input type="checkbox" name="" id="" class="form-check-input" value="">
                        <label for="termsandCondition">I agree to the terms and conditions</label>
                    </div>

                    <div class="d-grid mt-4">
                        <button class="btn btn-outline-dark">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Details 1-->
<section id="discover" class="details py-6 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/instructor.jpg" alt="" class="img-fluid rounded-5 mb-4">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content">
                <h2>Enhance your skills with Engaging Training Videos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem corporis laboriosam iste
                    architecto in quidem voluptate, nulla repudiandae quisquam ea esse eos cupiditate porro optio ut
                    deserunt magni officiis facilis quae dolor facere, alias blanditiis quis? Animi pariatur voluptate
                    fugiat!</p>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus vel animi ex.</p>
            </div>
        </div>
    </div>
</section>


<!--Points -->
<section id="discover" class="points pb-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-md-8 offset-md-2">
                <h2>Unlock Your Potential with Engaging Training Videos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-primary py-2 px-4 fs-3 rounded-circle">
                            1
                        </span>
                    </div>
                    <div>
                        <h3 class="fs-4">Enhance your Skills</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet quae neque quaerat,
                            magnam ex ipsum adipisci. Quibusdam, mollitia id maiores voluptates, quos sed provident
                            recusandae sapiente qui molestias architecto?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-primary py-2 px-4 fs-3 rounded-circle">
                            2
                        </span>
                    </div>
                    <div>
                        <h3 class="fs-4">Enhance your Skills</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet quae neque quaerat,
                            magnam ex ipsum adipisci. Quibusdam, mollitia id maiores voluptates, quos sed provident
                            recusandae sapiente qui molestias architecto?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-primary py-2 px-4 fs-3 rounded-circle">
                            3
                        </span>
                    </div>
                    <div>
                        <h3 class="fs-4">Enhance your Skills</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet quae neque quaerat,
                            magnam ex ipsum adipisci. Quibusdam, mollitia id maiores voluptates, quos sed provident
                            recusandae sapiente qui molestias architecto?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-primary py-2 px-4 fs-3 rounded-circle">
                            4
                        </span>
                    </div>
                    <div>
                        <h3 class="fs-4">Enhance your Skills</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet quae neque quaerat,
                            magnam ex ipsum adipisci. Quibusdam, mollitia id maiores voluptates, quos sed provident
                            recusandae sapiente qui molestias architecto?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-primary py-2 px-4 fs-3 rounded-circle">
                            5
                        </span>
                    </div>
                    <div>
                        <h3 class="fs-4">Enhance your Skills</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet quae neque quaerat,
                            magnam ex ipsum adipisci. Quibusdam, mollitia id maiores voluptates, quos sed provident
                            recusandae sapiente qui molestias architecto?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-primary py-2 px-4 fs-3 rounded-circle">
                            6
                        </span>
                    </div>
                    <div>
                        <h3 class="fs-4">Enhance your Skills</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias amet quae neque quaerat,
                            magnam ex ipsum adipisci. Quibusdam, mollitia id maiores voluptates, quos sed provident
                            recusandae sapiente qui molestias architecto?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Course Summary -->
<section id="summary" class="summary bg-light mt-5 w-75 m-auto">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-5">Course Summary</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="bg-white p-5">
                    <ul class="list-unstyled">
                        <li class="border-bottom pb-3">
                            <h5>1. Comprehensive Training</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestiae deleniti
                                explicabo, natus est, nobis quod maiores eos voluptas itaque incidunt accusamus
                                voluptatibus qui maxime modi perferendis aspernatur nisi optio. Repellendus veritatis
                                culpa harum fuga autem doloribus quaerat quis enim.</p>
                        </li>
                        <li class="border-bottom pb-3 pt-5">
                            <h5>2. Comprehensive Training</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestiae deleniti
                                explicabo, natus est, nobis quod maiores eos voluptas itaque incidunt accusamus
                                voluptatibus qui maxime modi perferendis aspernatur nisi optio. Repellendus veritatis
                                culpa harum fuga autem doloribus quaerat quis enim.</p>
                        </li>

                        <li class="pb-3 pt-5">
                            <h5>3. Comprehensive Training</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi molestiae deleniti
                                explicabo, natus est, nobis quod maiores eos voluptas itaque incidunt accusamus
                                voluptatibus qui maxime modi perferendis aspernatur nisi optio. Repellendus veritatis
                                culpa harum fuga autem doloribus quaerat quis enim.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Details 2-->
<section class="details py-6 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/audience.jpg" alt="" class="img-fluid rounded-5 mb-4">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content">
                <h2>Enhance your skills with Engaging Training Videos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem corporis laboriosam iste
                    architecto in quidem voluptate, nulla repudiandae quisquam ea esse eos cupiditate porro optio ut
                    deserunt magni officiis facilis quae dolor facere, alias blanditiis quis? Animi pariatur voluptate
                    fugiat!</p>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus vel animi ex.</p>
            </div>
        </div>
    </div>
</section>


<!--Invitation-->
<section class="invitation mb-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="invitation-bg text-center py-6 rounded-5">
                    <div class="text-white w-75 m-auto">
                        <h2 class="display-5 fw-bold">Join Us on December 22nd</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius velit voluptatum soluta ullam
                            culpa, iste rerum ea consequuntur odio delectus laudantium, cumque officia nobis nesciunt
                            harum, hic placeat laborum cupiditate illo earum? Assumenda veritatis, minima illum ipsa
                            temporibus quidem repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non
                            vero officiis consequatur consectetur explicabo sequi beatae inventore vel? Quos ea pariatur
                            in velit deserunt earum fuga eaque nobis rerum eum voluptas quas aut eos, autem odit itaque,
                            exercitationem vel quam.</p>
                        <a href="" class="btn btn-primary btn-lg">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Take aways-->
<section id="takeaways" class="takeaways my-5 bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-md-8 offset-md-2">
                <h2>Key Takeaways</h2>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, sint.</p>
            </div>
        </div>

        <!--Rows 1-->
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 rounded-0 border-0 p-3 bg-white">
                    <div class="card-body text-center">
                        <i class="fas fa-atom fa-3x text-primary bg-light rounded-circle p-3 my-4"></i>
                        <h5 class="card-title">Scientific Insights</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, quas esse
                            animi aut vel vitae?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 rounded-0 border-0 p-3 bg-white">
                    <div class="card-body text-center">
                        <i class="fas fa-key fa-3x text-primary bg-light rounded-circle p-3 my-4"></i>
                        <h5 class="card-title">Cybersecurity Insights</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, quas esse
                            animi aut vel vitae?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 rounded-0 border-0 p-3 bg-white">
                    <div class="card-body text-center">
                        <i class="fas fa-newspaper fa-3x text-primary bg-light rounded-circle p-3 my-4"></i>
                        <h5 class="card-title">Industry updates</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, quas esse
                            animi aut vel vitae?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 rounded-0 border-0 p-3 bg-white">
                    <div class="card-body text-center">
                        <i class="fas fa-users fa-3x text-primary bg-light rounded-circle p-3 my-4"></i>
                        <h5 class="card-title">Collabartive Networking</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, quas esse
                            animi aut vel vitae?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 rounded-0 border-0 p-3 bg-white">
                    <div class="card-body text-center">
                        <i class="fas fa-handshake fa-3x text-primary bg-light rounded-circle p-3 my-4"></i>
                        <h5 class="card-title">Partner Oppurtunites</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, quas esse
                            animi aut vel vitae?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 rounded-0 border-0 p-3 bg-white">
                    <div class="card-body text-center">
                        <i class="fas fa-chart-bar fa-3x text-primary bg-light rounded-circle p-3 my-4"></i>
                        <h5 class="card-title">Data-Driven Insights</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, quas esse
                            animi aut vel vitae?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Subscribe form-->
<section id="subscribe" class="subscribe my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>Subscribe to our Email List and get updates from the experts</h2>
                <form action="">
                    <div class="my-4">
                        <input type="email" class="form-control form-control-lg" placeholder="Enter your Email" />
                        <div class="form-text">We will not never share your email Address </div>
                    </div>

                    <div class="d-grid">
                        <button type="button" class="btn btn-primary">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="footer mt-4 text-bg-dark p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Lorem ipsum dolor sit amet.</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error animi adipisci debitis fugiat? Impedit
                    repudiandae itaque doloremque numquam at. Facilis.</p>
            </div>
            <div class="col-md-4">
                <h3>Quick Links</h3>
                <ul class="list-unstyled">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#discover">Discover</a></li>
                    <li><a href="#summary">Summary</a></li>
                    <li><a href="#takeaways">Takeaways</a></li>
                    <li><a href="#subscribe">Subscribe</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Connect</h5>
                <div class="d-flex gap-3">
                    <a href=""><i class="fab fa-facebook fa-3x text-white"></i></a>
                    <a href=""><i class="fab fa-twitter fa-3x text-white"></i></a>
                    <a href=""><i class="fab fa-linkedin fa-3x text-white"></i></a>
                    <a href=""><i class="fab fa-youtube fa-3x text-white"></i></a>
                    <a href=""><i class="fab fa-instagram fa-3x text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>